form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-self: center;
}

.submitButton {
  align-self: center;
}

.passwordInput{
  display: flex;
  position: relative;
}
.passwordInput svg{
  position: absolute;
  right: 3%;
  bottom: 20%;
  z-index: 10;
}
.icon{
  position: absolute;
  bottom: 0;
  font-size: 2.5rem;
}


@media screen and (max-width: 540px) {
  .passwordInput svg {
    bottom: 15%;
  }
}