footer{
  width: 100%;
  height: 18.9rem;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  /* justify-c; */
  font-size: 1.8rem;
  color: #fff;
}
footer a{
  font-size: 1.8rem;
  color: #fff;
}
.topDiv, .bottomDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
