.booksLayout {
    background-color: #fff;
    height: fit-content;
    width: 100%;
    padding: 5rem 0 10rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}