.primary__button{
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.16;
  color: #fff;
  background: #F49F0A;
  border: none;
  height: 4.585rem;
  width: 26.73rem;
  border-radius: 1.6rem;
}

.primary__button:hover{
  background-color: #EB9A0C;
}