.header {
  height: 2rem;
  padding: 2rem 2rem 7rem 2rem;
  display: flex;
  justify-content: space-between;
}

.profile__overview {
  position: relative;
  /* width: 100%; */
}

.profile__patterns{
    width: 100%;
height :200.4px;
}

.patterns {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.profile {
  position: absolute;
  /* background: #000; */
  width: 100%;
  display: flex;
  justify-content: center;
  top:80%
}
.profile__pic {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc27d;
  border-radius: 50%;
}

/* .profile__pic{
    position: absolute;
    display: flex;
    justify-self: center;
    top: 50;
} */

.profile__pic__icon {
  height: 100%;
  width: 100%;
  z-index: 100;
}
