.carouselItem {
    width: 100%;
    height: 89vh;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    display: flex;
    color: #fff;
 }
/*.carousel{
    display: none;
    border: 2px solid green;
} */
.heroSection {
    display: flex;
    flex-direction: column;
    width: 100%;

    position: relative;
}

.carouselTextContainer {
    width: 60%;
    margin-top: 10rem;
}

.primaryText {
    font-weight: bold;
    line-height: 1.2;
}

.bottomText {
    font-size: 1.8rem;
    width: 60%;
    line-height: 1.5;
}


@media screen and (max-width: 540px) {
    .carouselItem {
        height: calc(100vh - 10vh);
    }

    .carouselTextContainer {
        width: 90%;
        height: fit-content;
        justify-content: center;
        align-items:flex-start;
        margin: auto;
    } 

    .primaryText {
        margin-top: 10rem;
    }

    .bottomText {
        font-size: 1.8rem;
        width: 90%;
        text-align: left;
    }

    .btn {
        width: 60%;
    }
}