.featuresSection{
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 10rem;
  background-color: #fff;
}

.quoteSection{
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}
.imageContainer{
  width: 29.7rem;
}
.imageContainer img{
  width: 100%;
}
.textContainer{
  flex-direction: column;
  padding: 1rem 0;
}
.textContainer h3{
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}


.baloonSection{
  width: 100%;
  height: 83.522rem;
  padding: 26rem 12rem;
  background: url(../../assets/images/ballon-element.png) no-repeat center center/cover;
}
.cardContainer{
  display: flex;
  gap: 6.2rem;
}
.iconContainer {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, -15%);
}

@media screen and (max-width: 540px) {
  .featuresSection{
    padding: 6.2rem 0;
  }
  .quoteSection{
    display: flex;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
  }
  .imageContainer{
    width: 15rem;
  }
  .imageContainer img{
    width: 100%;
    height: 100%;
  }
  .textContainer h3{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
  }
  .baloonSection{
    margin: 5rem 0;
    height: 100%;
    padding: 12rem 0;
    background: url(../../assets/images/ballon-element.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-clip: border-box;
  }
  .cardContainer{
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    margin: 0 auto;
  }
  .iconContainer{
    width: 7.68rem;
    height: 8rem;
  }
  .iconContainer img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(-50%, 60%);
  }
}