.header{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky !important; 
    top: 0%;
    background-color: #fff;
    box-shadow: 0px 2px 2px 0 rgba(0,0, 0, 0.2);
    z-index: 1000;
}
.header.navBarHeader{
    height: 8rem;
    display: flex;
    justify-content: center;
    margin: auto;
    position: sticky;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
    top: 0%;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 100000;
}

.header a:hover,
.header a:active,
.header a.active {
    color: var(--primary-color);
}
.logo{
    width: 8rem;
}
.logo .mobile {
    display: block;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarList {
    display: flex;
    gap: 9rem;
    font-size: 4rem;
}

.active {
    color: var(--primary-color) !important;
}

.navbarItem {
    display: inline-block;
    color: #000;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
}
.navLink{
    color: #000;
    font-size: 1.4rem;
    font-weight: 500;
}
.navLink:hover{
    text-decoration: none;
    background-color: #fff !important;
    color: var(--primary-color);
}

.navBtn {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.navBtnLink:disabled {
    background-color: #F4F5F7;
    color: #A5ADBA;
    cursor: not-allowed;
    font-size: .8rem;
}

.navBtnLink a {
    color: #fff !important;
}

.burger {
    display: none;
    cursor: pointer;
    color: #000;
}

.menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .header{
        display: flex;
        align-items: center;
        position: sticky !important;
        top: 0;
        align-items: center;
        height: 7rem;
    }
    .logo{
        width: 7rem;
    }
    .navBtn {
        display: none;
    }

    .navbarItem {
        display: none;
    }

    .burger {
        display: block;
        font-size: 1.4rem;
        cursor: pointer;
    }

    .menu {
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0px 2px 6px 0px rgba(193, 199, 208, 0.4);
        position: sticky;
        top: 0;
        right: 0;
        width: 100%;
        height: 18rem;
        transform: translate(0, 36.5%);
        z-index: 99;
        transition: all 0.3s ease-in-out;
    }

    .menu_bg {
        z-index: 100;
        width: 100%;
        height: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
    }
    .menu_list{
        z-index: 1000;
    }
    .menu_body {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;
    }

    .menu_body_text {
        font-size: 1.6rem;
        margin: 0;
    }

    .menu_item {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem !important;
        padding: 1.9rem 1rem;
        border-top: 1px solid rgba(0,0,0,0.2);
        margin: 0;
    }
    .menu_link:hover{
        background: none;
    }
    .menu_link:hover .menu_item{
        background-color: var(--primary-color);
    }
}